body{
    //overflow-x: hidden;
    width: 100vw;
}

header{
    height: 117vh;
}

video{
    width: 400%;
    transform: translate(-50%, -93%);
}

.titre{
   transform: translateY(-100em);
}

.titre>p{
    text-align: center;
    font-size: 1em;
}

.titre>p:nth-child(1){
    font-size: 3em;
}

.wrapper{
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wrapper div{
    height: 10em;
}

.wrapper div img{
    height: 100%;
    display: block;
    margin: 0 auto;
}

footer{
    text-align: center;
}

footer>p{
    margin: 0;
}

//résolution tablette
@media screen and (min-width : 600px){

    header{
        height: 100vh;
    }

    video{
        width: 260%;
        transform: translate(0%,-105%);
    }

    .titre{
        transform: translateY(-95em);
    }

    .titre>p{
        text-align: center;
        font-size: 1.5em;
    }

    .wrapper{
        grid-template-columns: 1fr 1fr 1fr;
    }

}


@media screen and (min-width : 768px){
    video{
        width: 230%;
        transform: translate(0%,-10%);
    }

    .titre{
        transform: translateY(-45em);
    }

    .wrapper{
        margin-top: 4em;
    }
}

@media screen and (min-width : 800px){

    .video{
        width: 120%;
    }

    .wrapper{
        margin-top: 15em;
    }
}

//résolution grand-écran
@media screen and (min-width: 900px){

    header{
        height: 110vh;
    }

    nav{
        position: fixed;
        right: 3em;
        margin-top: 0.5em;
    }

    ul{
        text-align: right;
    }

    video{
        width: 100%;
        transform: translate(0%,-10%);
    }

    .titre{
        margin-left: 3em;
        transform: translateY(-25em);
    }

    .titre>p{
        text-align: left;
        font-size: 2em;
    }

    .titre>p:nth-child(1){
        font-size: 3;
    }

    .wrapper{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .wrapper, footer{
        transform: translateY(-40em);
    }

    .wrapper div{
        height: 15em;
    }


    @media screen and (min-width :1025px){

        .titre{
            transform: translateY(-45em);
        }

        .titre>p{
            font-size: 3em;
        }
    
        .titre>p:nth-child(1){
            font-size: 5em;
        }

        .wrapper{
            margin-top: 3em;
        }
        
        .wrapper, footer{
            transform: translateY(-4em);
        }
    
    }
}

