@font-face{
    font-family: centabel;
    src: url(../font/centabel/centabel.ttf);
}

@font-face{
    font-family: Sansation;
    src: url(../font/sensation/Sansation_Regular.ttf);
}


body{
    background-color: #1d1d1d;
    color: white;
    font-family: Sansation;
    overflow-x: hidden;
    width: 100vw;
}