body{
    overflow-x: hidden;
    width: 100vw;
}


video{
    width: 400%;
    transform: translate(-50%, -10%);
}

.titre{
   transform: translateY(-45em);
}

.titre>p{
    text-align: center;
    font-size: 1em;
}

.titre>p:nth-child(1){
    font-size: 3em;
}

footer{
    text-align: center;
}

footer>p{
    margin: 0;
}

//résolution tablette
@media screen and (min-width : 600px){
    video{
        width: 260%;
    }

    .titre>p{
        text-align: center;
        font-size: 1.5em;
    }
}

//résolution grand-écran
@media screen and (min-width: 900px){

    nav{
        text-align: right;
        margin-right: 5em;
        margin-top: 0.5em;
    }

    video{
        width: 100%;
        transform: translate(0%,-10%);
    }

    .titre{
        margin-left: 3em;
    }

    .titre>p{
        text-align: left;
        font-size: 3em;
    }

    .titre>p:nth-child(1){
        font-size: 5em;
    }
}